body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-wrapper {
    padding: 20px;
  }
  
  .form-container {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 1214px;
    height: 692px;
    background-color: #D9D9D9;
    border:  0.5px solid black;
  }
  
  .form-header {
    background-color: #5B7B7B;
    padding: 20px;
    text-align: center;
  }
  
  .form-header h2 {
    color: white;
    background-color: transparent;
    margin: 0;
    font-size: 60px;
    padding-top: 40px;
  }
  
  .form-content {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;

  }
  
  .form-row {
    display: flex;
    gap: 20px;
    background-color: transparent;

  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    flex: 1;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    font-style: italic;
    font-size: 16px;
  }
  
  .upload-btn {
    flex: 1;
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #666;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
  }
  
  .upload-btn span {
    pointer-events: none;
    background-color: transparent;

  }
  
  .form-submit {
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
  }
  
  